@import '@unocss/reset/normalize.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    min-height: 100vh;
    @apply print:bg-white;
}

#app {
    background: transparent;
    padding: 2.5rem 1rem;
    margin: 0 auto;
    width: clamp(15rem, 100%, 50rem);
    font-family: "Source Code Pro", monospace;
    @apply sm:pt-16;
    color: white;
}

.white {
    @apply text-white print:text-black;
}

.gray {
    @apply text-gray3 print:text-gray4;
}